@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap');
@import "https://fonts.googleapis.com/css?family=Oswald:300,400,700";


html {
	overflow: -moz-scrollbars-none !important;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	font-family: playfair display,sans-serif;

	font-family: playfair display,serif;

	font-family: Montserrat, sans-serif;

  background-color:  white;
	font-size: 16px;
	scrollbar-width: none !important;
  margin:0px;
  overflow-x: hidden;
	-ms-overflow-style: none;
}
body p{
  line-height: 33px;
}

/*----------------------------NAV BAR-----------------------------*/

.navbar {
	font-family: 'Poppins', sans-serif;
  margin: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  position:fixed;
  top:0;
	z-index: 500;
  list-style: none;
}

.navbar-left{
	display:inline-block;
	margin: 0;
	padding: 0;
	vertical-align:bottom;
	margin:-30px 0px -78px 0px;
}

.navbar-left img{
  float: center;
	margin-top:-22px;
	width: 220px;
	height: 210px;
  }

.navbar-right{
	display: flex;
	justify-content: center;
	margin-top: 23px;
}

.menu-icon {
  display: none;
}
.nav-links {
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-links:hover {
	border-bottom: none;
	color: #F9ACDF;
	transform: scale(1.1);
	transition: all 0.2s ease-out;
}
 .nav-menu {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .nav-menu li{
    display: inline-block;
  }

@media screen and (min-width: 960px) {

  .nav-links {
    color: black;
		display: grid;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
		justify-content: center;
  }

  .nav-links:hover {
    border-bottom: none;
    color: #F9ACDF;
    transform: scale(1.1);
    transition: all 0.2s ease-out;
	}

}

@media screen and (max-width: 980px) {

  .nav-menu {
    display: flex;
    list-style: none;
    flex-direction: column;
		align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    opacity: 1;
    right:0;
    left:100%;
    transition: all 0.5s ease;
		margin:0;
	}

  .nav-menu.active {
    background: transparent;
    opacity: 1;
    transition: all 0.5s ease;
    list-style: none;
    height: auto;
    overflow: hidden;
    width: 100%;
    left:0%;
  }

  .nav-links {
    display:flex;
    background-color: white;
    font-size: 1.2rem;
    font-weight: lighter;
    color: black;
    text-decoration: none;
    padding: 1.5rem;
    justify-content: center;
		align-items: center;
  }

  .nav-links:hover {
    color: #F9ACDF;
    transform: scaleY(1.1);
    transition: 0.3s;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
		color:black;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    padding: 0.5rem 1.5rem 0rem 0rem;
  }

		 .navbar-left img{
				width: 140px;
				height: 130px;
				margin:-15px;
			}

		 .nav-links {
			 color: black;
			 width: 100%;
			 display: flex;
			 align-items: center;
			 justify-content: center;
		 }

		 .nav-links:hover {
			 border-bottom: none;
			 color: #F9ACDF;
			 transform: scale(1.1);
			 transition: all 0.2s ease-out;
		 }
		 .navbar {
			 height: 90px;
			 background-color: white;
			 }


		 .nav-menu {
				display: inline-block;
				list-style: none;
				text-align: center;
			}

		 .menu-icon {
			 top: 0;
			 right: 0;
			 color:black;
			 transform: translate(-100%, 60%);
			 font-size: 1.5rem;
			 padding: 0rem 0.3rem 0rem 0rem;
		 }
		 .nav-links {
			 width: 100%;
			 padding-left: 0;
			 padding-right: 0;
			 align-items: center;
			 font-size: 15px;
		 }

		 .nav-links:hover {
			 color: #F9ACDF;
			 transform: scale(1);
			 transition: all 0.2s ease-out;
		 }
		 .nav-menu li{
			 font-size: 12px;
			 width: 100%;
			 height: 4rem;
			 text-align: center;
			}


}

@media screen and (max-width: 900px) {

	 .navbar-left img{
			width: 140px;
			height: 130px;
			margin:-15px;
		}

	 .menu-icon {
		 display: block;
		 position: absolute;
		 top: 0;
		 right: 0;
		 color:black;
		 transform: translate(-100%, 60%);
		 font-size: 1.8rem;
		 padding: 0rem 0.5rem 0rem 0rem;
	 }
	 .nav-links {
		 color: black;
		 width: 100%;
		 display: flex;
		 align-items: center;
		 justify-content: center;
	 }

	 .nav-links:hover {
		 border-bottom: none;
		 color: #F9ACDF;
		 transform: scale(1.1);
		 transition: all 0.2s ease-out;
	 }
	 .navbar {
		 height: 90px;
		 background-color: white;
		 }


	 .nav-menu {
			display: inline-block;
			list-style: none;
			text-align: center;
		}

	 .menu-icon {
		 top: 0;
		 right: 0;
		 color:black;
		 transform: translate(-100%, 60%);
		 font-size: 1.5rem;
		 padding: 0rem 0.3rem 0rem 0rem;
	 }
	 .nav-links {
		 width: 100%;
		 padding-left: 0;
		 padding-right: 0;
		 align-items: center;
		 font-size: 15px;
	 }

	 .nav-links:hover {
		 color: #F9ACDF;
		 transform: scale(1);
		 transition: all 0.2s ease-out;
	 }
	 .nav-menu li{
		 font-size: 12px;
		 width: 100%;
		 height: 4rem;
		 text-align: center;
		}

}


@media screen and (max-width: 800px) {

	 .navbar-left img{
			width: 140px;
			height: 130px;
			margin:-15px;

		}

	 .menu-icon {
		 display: block;
		 position: absolute;
		 top: 0;
		 right: 0;
		 color:black;
		 transform: translate(-100%, 60%);
		 font-size: 1.8rem;
		 padding: 0rem 0.5rem 0rem 0rem;
	 }
	 .nav-links {
		 color: black;
		 width: 100%;
		 display: flex;
		 align-items: center;
		 justify-content: center;
	 }

	 .nav-links:hover {
		 border-bottom: none;
		 color: #F9ACDF;
		 transform: scale(1.1);
		 transition: all 0.2s ease-out;
	 }
	 .navbar {
		 height: 90px;
		 background-color: white;
		 }
	 .nav-menu {
			display: inline-block;
			list-style: none;
			text-align: center;
		}

	 .menu-icon {
		 top: 0;
		 right: 0;
		 color:black;
		 transform: translate(-100%, 60%);
		 font-size: 1.5rem;
		 padding: 0rem 0.3rem 0rem 0rem;
	 }
	 .nav-links {
		 width: 100%;
		 padding-left: 0;
		 padding-right: 0;
		 align-items: center;
		 font-size: 15px;
	 }

	 .nav-links:hover {
		 color: #F9ACDF;
		 transform: scale(1);
		 transition: all 0.2s ease-out;
	 }
	 .nav-menu li{
		 font-size: 12px;
		 width: 100%;
		 height: 4rem;
		 text-align: center;
		}

}

@media screen and (max-width: 700px) {

	 .navbar-left img{
			width: 140px;
			height: 130px;
			margin:-15px;

		}

	 .menu-icon {
		 display: block;
		 position: absolute;
		 top: 0;
		 right: 0;
		 color:black;
		 transform: translate(-100%, 60%);
		 font-size: 1.8rem;
		 padding: 0rem 0.5rem 0rem 0rem;
	 }
	 .nav-links {
		 color: black;
		 width: 100%;
		 display: flex;
		 align-items: center;
		 justify-content: center;
	 }

	 .nav-links:hover {
		 border-bottom: none;
		 color: #F9ACDF;
		 transform: scale(1.1);
		 transition: all 0.2s ease-out;
	 }
	 .navbar {
		 height: 90px;
		 background-color: white;
		 }
	 .nav-menu {
			display: inline-block;
			list-style: none;
			text-align: center;
		}

	 .menu-icon {
		 top: 0;
		 right: 0;
		 color:black;
		 transform: translate(-100%, 60%);
		 font-size: 1.5rem;
		 padding: 0rem 0.3rem 0rem 0rem;
	 }
	 .nav-links {
		 width: 100%;
		 padding-left: 0;
		 padding-right: 0;
		 align-items: center;
		 font-size: 15px;
	 }

	 .nav-links:hover {
		 color: #F9ACDF;
		 transform: scale(1);
		 transition: all 0.2s ease-out;
	 }
	 .nav-menu li{
		 font-size: 12px;
		 width: 100%;
		 height: 4rem;
		 text-align: center;
		}

}


@media screen and (max-width: 500px) {

	.navbar-left img{
 	 width: 140px;
 	 height: 130px;
 	 margin:-15px;

  }

	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		color:black;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		padding: 0rem 0.5rem 0rem 0rem;
	}
	.nav-links {
		color: black;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nav-links:hover {
		border-bottom: none;
		color: #F9ACDF;
		transform: scale(1.1);
		transition: all 0.2s ease-out;
	}
	.navbar {
		height: 90px;
		background-color: white;
		}
	.nav-menu {
		 display: inline-block;
		 list-style: none;
		 text-align: center;
	 }

	.menu-icon {
		top: 0;
		right: 0;
		color:black;
		transform: translate(-100%, 60%);
		font-size: 1.5rem;
		padding: 0rem 0.3rem 0rem 0rem;
	}
	.nav-links {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		align-items: center;
		font-size: 15px;
	}

	.nav-links:hover {
		color: #F9ACDF;
		transform: scale(1);
		transition: all 0.2s ease-out;
	}
	.nav-menu li{
		font-size: 12px;
		width: 100%;
		height: 4rem;
		text-align: center;
	 }
}

@media screen and (max-width: 300px) {

		.navbar-left img{
	 	 width: 140px;
	 	 height: 130px;
	 	 margin:-15px;

	  }
		.navbar {
			height: 90px;
			background-color: white;
			}
		.nav-menu {
			 display: inline-block;
			 list-style: none;
			 text-align: center;
		 }

		.menu-icon {
			top: 0;
			right: 0;
			color:black;
			transform: translate(-100%, 60%);
			font-size: 1.5rem;
			padding: 0rem 0.3rem 0rem 0rem;
		}
		.nav-links {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			align-items: center;
			font-size: 15px;
		}

		.nav-links:hover {
			color: #F9ACDF;
			transform: scale(1);
			transition: all 0.2s ease-out;
		}

		.nav-menu li{
		  font-size: 12px;
			width: 100%;
			height: 4rem;
			text-align: center;
		 }


}

/*--------------------------LANDING PAGE--------------------------*/


.landing {
	background-image: url('./images/landingcanva2.png');
	height:110vh;
	width: 100%;
	margin-top: 80px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	justify-content: center;
}

.landing h2 {
	font-size: calc(60px + (90 - 40) * ((100vw - 300px) / (1600 - 300)));
  padding: 3rem 3rem 5rem 3rem;
  font-weight: 500;
  margin: 0;
}

.landing p{
  font-size: 20px;
  font-weight: 100;
  padding: 4rem 3rem 0rem 6rem;
  margin:0;
}



@media only screen and (max-width: 1225px) {
 .landing {
 	height:80vh;
 	width: 100%;
 }

}

@media only screen and (max-width: 980px) {
	.landing {
  	height:55vh;
  	width: 100%;
  }

}

@media only screen and (max-width: 768px) {
	.landing {
  	height:48vh;
  	width: 100%;
  }

}

@media only screen and (max-width: 500px) {
  .landing {
		height:35vh;
  	width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .landing {
		height:30vh;
  	width: 100%;
  }
}
@media only screen and (max-width: 300px) {
  .landing {
		height:22vh;
  	width: 100%;
  }
}


/*----------------------------------------------------------------*/
.testimonials{
	display: inline-flex;
	flex-direction: column;
	align-content: flex-start;
	text-align: center;
	margin:0;
	padding:0;
}

.underline-testimonials{
	position: relative;
	border: none;
	height: 2px;
	width: 5rem;
	background: #F9ACDF;
	margin-bottom: 0;
	margin-top: 10px;
}

.testimonials h4 {
	font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 200;
	padding-top: 45px;
	padding-bottom: 0;
	font-size: 30px;
  margin: 0;
	color:black;
}

.carousel-root {
  width: 100% !important;
  margin: auto !important;
  margin-top: 5% !important;
}

.carousel .slide {
  background: #fff !important;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #FDF4FA;
  margin-top: -6%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #F9ACDF !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #F9ACDF !important;
  height: 50px !important;
  position: absolute;
  top: 55% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 700px) {

		.testimonials{
			display: inline-flex;
			flex-direction: column;
			color: black;
			display: flex;
			justify-content: center;
		  align-items: center;
			margin:0;
		}
		.testimonials h2{
			font-size: 32px;
		}

		.myCarousel p {
		  font-weight: 100 !important;
		  line-height: 20px !important;
		  font-size: 12px;
		  max-height: 67px;
		}
}

@media only screen and (max-width: 500px) {

			.testimonials{
				display: inline-flex;
				flex-direction: column;
				background-size: 90rem;
				color: black;
				display: flex;
				float: center;
				justify-content: center;
			  align-items: center;
				margin:0;
			}
			.testimonials h2{
				font-size: 30px;
				font-weight: 200;
				padding: 0rem 0rem 1rem 0rem;
				margin: 0;
			}


			.myCarousel h2 {
			  color: #222;
			  font-weight: 100;
			  letter-spacing: 0.2px;
			  margin-bottom: 4px;
			  font-weight: 600;
			  text-transform: uppercase;
			  font-size: 17px;
			}

			.myCarousel h4 {
			  text-transform: uppercase;
			  margin-top: 0;
			  padding-top: 0;
			  font-weight: 500;
			  color: #787878;
			  font-size: 14px;
			}

			.myCarousel p {
			  font-weight: 100 !important;
			  line-height: 20px !important;
			  color: #222;
			  font-size: 12px;
			  font-family: sans-serif;
			  max-height: 67px;
			}
}

/*----------------------------ABOUT US----------------------------*/

.about-CN {
  display: inline-flex;
	flex-direction: column;
	background-size: 90rem;
  color: black;
  align-content: flex-start;
  text-align: center;
  padding-bottom: 0px;
	margin:0;
}
.underline-about{
  position: relative;
  border: none;
  height: 2px;
  width: 10rem;
  background: #F9ACDF;
  margin-bottom: 0;
	margin-top: 10px;
}
.about-box{
	padding: 0rem 0rem 2rem 0rem;
	border:1px solid #F9ACDF;
  border-spacing:10px;
	margin: 60px;
}

.about-CN h4 {
	font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 100;
	font-size: 30px;
	padding: 2rem 0rem 2rem 0rem;
  margin-bottom: 0;
}

.about-CN p {
  font-size: calc(10px + (60 - 40) * ((100vw - 300px) / (2000 - 300)));
	font-weight: 100;
	padding: 0rem 7rem 0rem 7rem;
  font-size: 20px;
  line-height: 33px;
	color:#262626;
}

.about-split{
  display:flex;
  resize: none;
}

.button2 {
	cursor:pointer;
	border:none;
  margin: 2rem 5rem;
	color:#FFF;
	padding:0.8rem 4rem 0.8rem 4rem;
	font-size:15px;
  background-color: #1A1A1A;
  color: white;
  border: 2px solid white;
}

.button2:hover {
	background:white;
  color: black;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

@media(max-width:858px) {

  .about-CN p {
    padding: 1rem 4rem 0rem 5rem;
    font-weight: 100;
    line-height: 25px;
    font-size: 16px;
  }
  .about-image{
    height: 25rem;
    width: 16rem;
    padding: 1rem 5rem 0rem 5rem;
    align-items: center;
  }
}
@media only screen and (max-width: 700px) {

	.about-CN p {
		padding: 0rem 2rem 0rem 2rem;
	}
}

@media only screen and (max-width: 500px) {
  .about-CN {
    display:block;
    text-align: center;
    margin: 0;
    padding: 0;
    width: inherit;
  }

  .about-CN h4 {
  	padding: 2rem 2rem 0.5rem 2rem;
    margin:0;
    font-size: 24px;
    font-weight: 100;
  }

  .about-CN p {
    padding: 1rem 0rem 0rem 0rem;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    font-weight: 100;
  }
	.about-box{
		padding: 0rem 1rem 2rem 1rem;
		border:1px solid #F9ACDF;
	  border-spacing:10px;
		margin: 30px;
	}
}

@media only screen and (max-width: 300px) {

    .about-CN{
      display:block;
      text-align: center;
      margin: 0;
      padding: 0;
      width: inherit;
			min-height: 40vh;
    }

    .about-split{
      display:block;
      text-align: center;
    }

    .about-CN h4 {
    	padding: 3rem 2rem 0.5rem 2rem;
      margin:0;
      font-size: 26px;
      font-weight: 100;
    }
    .about-CN p {
      padding: 1rem 2rem 0rem 2rem;
      text-align: center;
      line-height: 21px;
      font-size: 11px;
      font-weight: 100;
    }

    .about-image {
      height: 20rem;
      width: 13rem;
      padding: 0rem 2rem 0rem 2rem;
      align-items: center;
    }

    .button2 {
        text-decoration: none;
        font-size: 11px;
        align-items: center;
        padding:0.8rem 2rem 0.8rem 2rem;
        margin: 1.5rem 0rem;
        width: 13rem;

      }
  }


/*---------------------------SERVICES HOME PAGE---------------------------*/

.service-main {
	flex-direction: column;
  resize: none;
  padding-top: 0;
}

.service-main h4 {
	font-size: 30px;
	font-weight: 600;
	padding: 0;
	margin-bottom: 0;
	text-align: center;
	font-style: italic;
	color: #F9ACDF;
}

.service-main p {
	font-size: 15px;
	font-weight: 100;
	padding: 0rem 2rem 0rem 2rem;
  line-height: 33px;
}

.classic{
	background-image: url('./images/classic.jpg');
	background-size: 20rem;
}
.hybrid{
	background-image: url('./images/hybrid.jpg');
	background-size: 20rem;
}
.vol{
	background-image: url('./images/volume.jpg');
	background-size: 20rem;
}
.mega{
	background-image: url('./images/mega.jpg');
	background-size: 20rem;
}

.type{
	width: 300px;
	height: 300px;
	border: none;
	padding: 0;
	margin: 2px 0px 2px 0px;
	margin-left: auto;
	margin-right: auto;
}

.container {
  resize:none;
  text-align: center;
	justify-content: center;
	display: block;
	align-items: center;
	background-color: white;
}
.container-outer{
		display:flex;
}

.service-button{
	cursor:pointer;
	border:none;
	padding:0.8rem 1rem 0.8rem 1rem;
	font-size:15px;
	width: 10rem;
	background-color: transparent;
	color: black;
	border: 1px solid #F9ACDF;
}

.service-button:hover {
background:#F9ACDF;
color: black;
-webkit-transition:background 0.3s ease-in-out;
-moz-transition:background 0.3s ease-in-out;
transition:background-color 0.3s ease-in-out;
}

@media only screen and (max-width: 828px) {

	.container{
	  justify-content: center;
	  text-align: center;
		flex-direction: column;
		display: flex;
	  align-items: center;
	  min-height: 50vh;
		background-color: white;
	 }
	 .type{
	 	width: 300px;
	 	height: 400px;
	 	height: 19rem;
	 }
}
@media only screen and (max-width: 780px) {

	  .service-main{
	    display:block;
	    margin: 0;
	    width: inherit;
			padding: 0rem 2rem 0rem 2rem;
	  }

		.container-outer{
	    display:block;
	  }

	  .service-main p {
			padding: 1rem 1rem 4rem 1rem;
			text-align: center;
			line-height: 25px;
			font-size: 14px;
			font-weight: 100;
	  }

		.service-main h4 {
		  padding: 3rem 2rem 0rem 2rem;
		  margin:0;
		  font-size: 30px;
		  font-weight: 100;
		 }

		.type{
			width: 300px;
			height: 300px;
			border: none;
			padding: 0;
			margin: 2px 0px 2px 0px;
			margin-left: auto;
			margin-right: auto;
		}

	.container {
		flex-direction: column;
		display: inline-block;
		min-height: 45vh;
	}
}

@media only screen and (max-width: 500px) {

	  .service-main{
	    display:block;
	    text-align: center;
	    margin: 0;
	    padding: 0;
	    width: inherit;
			padding: 0rem 2rem 0rem 2rem;

	  }

		.container-outer{
	    display:block;
	    text-align: center;
	  }


	  .service-main p {
			padding: 1rem 1rem 4rem 1rem;
			text-align: center;
			line-height: 25px;
			font-size: 14px;
			font-weight: 100;
	  }


		.service-main h4 {
		  padding: 3rem 2rem 0rem 2rem;
		  margin:0;
		  font-size: 30px;
		  font-weight: 100;
		 }

		.type{
			width: 300px;
			height: 300px;
			border: none;
			padding: 0;
			margin: 2px 0px 2px 0px;
			margin-left: auto;
			margin-right: auto;
		}

	.container {
		flex-direction: column;
		display: inline-block;
		min-height: 45vh;
	}

}

@media only screen and (max-width: 300px) {
	.service-main{
		display:block;
		text-align: center;
		margin: 0;
		padding: 0;
		width: inherit;
		padding: 0rem 1rem 0rem 1rem;
	}

	.container-outer{
		display:block;
		text-align: center;
	}

	.service-main p {
		padding: 0rem 0rem 3rem 0rem;
		text-align: center;
		line-height: 25px;
		font-size: 12px;
		font-weight: 100;
	}

	.service-main h4 {
		margin:0;
		font-size: 25px;
		font-weight: 100;
	 }

	.type{
		border: none;
		padding: 0;
		margin: 2px 0px 2px 0px;
		margin-left: auto;
		margin-right: auto;
		background-size: 200px;
  	width: 200px;
  	height: 190px;
	}

	.container {
		flex-direction: column;
		display: inline-block;
		min-height: 45vh;
	}
}


/*---------------------------GALLERY-------------------------------------*/

.gallery {
	display: flex;
	flex-direction: column;
	background-color: white;
	color: black;
  resize: none;
  padding-top: 80px;
}

.gallery-desc{
  padding: 1rem 0rem 6rem 0rem;
  text-align: center;
}


.gallery h3 {
	font-size: 40px;
	font-weight: 300;
	padding: 5rem 3rem 0rem 3rem;
	text-align: center;
}

.gallery h4 {
	font-size: 30px;
	font-weight: 300;
	padding: 0rem 3rem 0rem 3rem;
	text-align: center;
	font-style: italic;
	color: #F9ACDF;
	margin: 0;

}

/*----------------------------CLIENT PAGE CSS------------------------------*/

.service {
	display: flex;
	flex-direction: column;
	background-color: white;
	color: black;
  resize: none;
  padding-top: 80px;
}

.service-desc{
  padding: 1rem 0rem 6rem 0rem;
  text-align: center;
}
.service h3 {
	font-size: 40px;
	font-weight: 300;
	padding: 0rem 3rem 0rem 3rem;
	text-align: center;
}
.services h3 {
	background-image: url('./images/cloud.png');
	font-size: 40px;
	font-weight: 300;
	padding-top: 100px;
  color: black;
  background-size: 100rem;
	padding: 8rem 3rem 8rem 3rem;
	text-align: center;
}
.service h4 {
	font-size: 30px;
	font-weight: 300;
	padding: 0rem 3rem 0rem 3rem;
	text-align: center;
	font-style: italic;
	color: #F9ACDF;
}
.service p {
	font-size: 15px;
	font-weight: 100;
	padding: 0rem 7rem 0rem 7rem;
  line-height: 33px;
	margin: 0;
}
.service-split-img{
  height: 350px;
  width: 350px;
  padding: 0rem 0rem 0rem 2rem;
}

.service-split{
  display:flex;
  color: black;
  resize: none;
  padding: 1rem 0rem 0rem 10rem;
  margin: 0;
	width: 280rem;
}

.service-split h4 {
	font-size: 30px;
	font-weight: 300;
	padding: 0rem 3rem 0rem 4rem;
	text-align: left;
	font-style: italic;
	margin: 0;
}

.service-split p {
	font-size: 15px;
	font-weight: 100;
	padding: 0rem 7rem 0rem 4rem;
  line-height: 33px;
}

.service-text{
	resize:none;
	display: block;
	width: 50rem;
}

@media only screen and (max-width: 950px) {

	.services h3 {
		background-image: url('./images/cloud.png');
		font-size: 30px;
		font-weight: 300;
		padding-top: 100px;
	  color: black;
	  background-size: 100rem;
		padding: 5rem 3rem 5rem 3rem;
		text-align: center;
	}
	.service h4 {
		font-size: 23px;
		font-weight: 300;
		padding: 0rem 3rem 0rem 3rem;
		text-align: center;
		font-style: italic;
		color: #F9ACDF;
	}
	.service h3 {
		font-size: 24px;
	}
	.service p {
		font-size: 15px;
		font-weight: 100;
		padding: 0rem 3rem 0rem 3rem;
	  line-height: 33px;
		margin: 0;
	}
	.service{
		font-size: 40px;
		font-weight: 300;
		text-align: center;

	}
	  .service-split{
	    display:block;
			width: auto;
			padding: 0;
			margin: 0;
	  }
		.service-split-img{
			height: 300px;
			width: 300px;
			margin:0;
			padding: 0;
		}

	.service-split h4 {
		padding: 2rem 0rem 1rem 0rem;
		margin:0;
		font-size: 30px;
		font-weight: 100;
		text-align: center;
	}
	  .service-text p{
	    text-align: center;
			padding: 0rem 3rem 4rem 3rem;
	}
		.service-text{
			margin:0;
			padding: 0;
			resize:none;
			display: block;
			width: auto;
 }
}


/*----------------------------SPORTS------------------------------*/

.booking{
	display: flex;
	flex-direction: column;
	background-color: white;
	color: black;
	resize: none;
	padding-top: 100px;
}
.booking h3 {
	font-size: 40px;
	font-weight: 300;
	padding: 3rem 3rem 0rem 3rem;
	text-align: center;
}

#schedulicity-widgetFrame {
	width: 100%;
	min-height: 70vh;

}

@media only screen and (max-width: 768px) {
	.booking h3 {
		font-size: 30px;
		font-weight: 300;
		padding: 1rem 3rem 0rem 3rem;
		text-align: center;
	}
}
/*----------------------------SPORTS------------------------------*/

.sports {
	display: flex;
	flex-direction: column;
	min-height: 70vh;
	background-color: #1A1A1A;
	color: white;
  padding-bottom: 60px;
  text-align: left;
}

.sports h4 {
	font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 200;
	padding: 2rem 0rem 2rem 5rem;
  margin-bottom: 0;
}

.sports p {
	font-weight: 100;
  font-size: 20px;
	padding: 0rem 8rem 2rem 5rem;
  line-height: 33px;
}

.sports-split{
  display:flex;
  resize: none;
}

.whatwedo-list p{
  font-weight: 100;
  font-size: 20px;
  margin-top: 0;
  text-align: left;
  padding: 0rem 0rem 0rem 2rem;
}

.sports-split .sports-img{
  height: 500px;
  width: 355px;
  padding: 0rem 2rem 0rem 5rem;
  margin:0;
  resize: both;
}
.sports-split-left{
  display: flex;
	flex-direction: column;
}

.button3 {
	cursor:pointer;
	border:none;
  margin: 2rem 5rem;
	color:#FFF;
	padding:0.8rem 3rem 0.8rem 3rem;
	font-size:15px;
  background-color: #1A1A1A;
  color: white;
  border: 2px solid white;
  border-radius: 1px;
}

.button3:hover {
	background:white;
  color: black;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

@media(max-width:898px) {

  .sports-split .sports-img{
    height: 380px;
    width: 300px;
    margin-right:0;
    padding: 0rem 0rem 0rem 5rem;
  }

  .sports p {
    padding: 0rem 3rem 1rem 5rem;
    text-align: left;
    font-weight: 100;
    line-height: 25px;
    font-size: 15px;
    width:inherit;
  }

  .whatwedo-list p{
    margin-left: 0;
    text-align: left;
    padding: 0rem 0rem 0rem 0rem;
  }
  .button3{
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .sports-split{
    display:block;
  }
  .sports-split .sports-img{
    justify-content: center;
    margin: 0 auto;
    height: 23rem;
    width: 15rem;
    padding: 2rem 2rem 1rem 2rem;
    align-items: center;
  }

  .sports h4 {
    	padding: 3rem 2rem 0.5rem 2rem;
      margin:0;
      font-size: 27px;
      font-weight: 200;
      text-align: center;

  }
  .sports p {
      padding: 1rem 2rem 0rem 2rem;
      font-weight: 100;
      text-align: center;
      line-height: 25px;
      font-size: 14px;
      width:inherit;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

  .whatwedo-list p{
    padding: 0rem 2rem 0rem 5rem;
    text-align: left;
  }

  .button3 {
    justify-content: center;
    margin: 2rem 5rem;
  	color:#FFF;
  	padding:0.8rem 0rem 0.8rem 0rem;
  	font-size:12px;
    width: 15rem;
    background-color: #1A1A1A;
    color: white;
    border: 2px solid white;
    border-radius: 1px;
  }
}

@media only screen and (max-width: 300px) {
  .sports-split{
    display:block;
  }
  .sports-split .sports-img{
    justify-content: center;
    margin: 0 auto;
    height: 20rem;
    width: 13rem;
    padding: 2rem 2rem 1rem 2rem;
  }

  .sports h4 {
    	padding: 3rem 2rem 0.5rem 2rem;
      margin:0;
      font-size: 26px;
      font-weight: 200;
      text-align: center;

  }
  .sports p {
      padding: 1rem 2rem 0rem 2rem;
      font-weight: 100;
      text-align: center;
      line-height: 21px;
      font-size: 11px;
      width:inherit;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

  .whatwedo-list p{
    padding: 0rem 2rem 0rem 3rem;
    text-align: left;
  }

  .button3 {
    justify-content: center;
    margin: 2rem 2rem;
  	color:#FFF;
  	padding:0.8rem 0rem 0.8rem 0rem;
  	font-size:10px;
    width: 13rem;
    background-color: #1A1A1A;
    color: white;
    border: 2px solid white;
    border-radius: 1px;
  }
}



/*----------------------------------------------------------------*/

/*-----------------------------CONTACT----------------------------*/

.contact {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: white;
	color: black;
}

.contact h4 {
  font-size: calc(20px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 600;
	padding: 0rem 3rem 0rem 3rem;
	text-align: left;
}

.contact p {
  font-size: calc(10px + (60 - 40) * ((100vw - 300px) / (2000 - 300)));
	font-weight: 100;
	padding: 0rem 0rem 0rem 3rem;
}

.contact-div{
  min-height: 90vh;
  padding: 10rem 2rem 0rem 5rem;
  flex-direction: column;
  color: black;
  align-content: flex-start;
}
.container2{
  flex-direction: column;
  min-height: 60vh;
  color: black;
  align-content: flex-start;
  padding: 2rem 2rem 0rem 5rem;
}

.contact-split{
  display:flex;
  resize: none;
}
.contact-split-left{
  padding: 2rem 1rem 6rem 1rem;
  display: inline;
  width:50%;
}
.contact-split-left h3{
  color: #F9ACDF;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
}
.contact-split-left p{
	font-size:15px;
}

.contact-msg{
  padding: 0;
  margin:0;
}

.input-group2 .bottom{
  line-height: 10px;
}
.input-row2{
  color: black;
  display: flex;
  font-size: 15px;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  min-height: 60vh;
  text-align: left;
  width: 100%;
	padding:25px;
  padding-top: 5rem;
  resize: none;
}

#contact h3 {
	color: #F9ACDF;
	display: block;
	font-size: 30px;
	font-weight: 400;
}
#contact p {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
  color: black;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
  resize: none;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:70%;
	border:1px solid #F9ACDF;
	background-color: white;
	margin:0 0 5px;
	padding:10px;
  resize: none;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #F08ACD;
	background-color: #FDF4FA;
}

#contact textarea {
	height:100px;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
  width:73%;
	border:none;
	background:#F9ACDF;
	color:#FFF;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#F08ACD;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.div-map{
  display: flex;
  padding: 0rem 4rem 4rem 0rem;
}
.map{
  width:350px;
  height:250px;
}

@media only screen and (max-width: 898px) {
  .contact-split{
    display:block;
    resize: none;
  }

  #contact {
    min-height: 60vh;
    text-align: left;
    width: 100%;
    padding: 2rem 0rem 2rem 1rem;
  }
  .contact-split-left{
    padding: 0rem 7rem 0rem 0rem;
  }
  .contact-split-left h3{
    padding: 0rem 0rem 0rem 1rem;
    font-size: 30px;
    font-weight: 400;
  }
  .contact-split-left p{
    font-size:15px;
    padding: 0rem 0rem 0rem 1rem;
  }
  .map{
    width:350px;
    height:250px;
    margin: 1rem 3rem 0rem 1rem;
  }

}
@media only screen and (max-width: 500px) {

  .container2{
    flex-direction: column;
    min-height: 60vh;
    color: black;
    align-content: flex-start;
    padding: 2rem 1rem 0rem 1rem;
  }
  .contact-div{
    flex-direction: column;
    min-height: 60vh;
    color: black;
    align-content: flex-start;
    padding: 9rem 1rem 0rem 1rem;
  }

  .contact-split{
    display:flex;
    resize: none;
  }
  .contact-split-left{
    padding: 2rem 2rem 0rem 0rem;
    display: inline;
    width:50%;
  }
  .contact-split{
    display:block;
    resize: none;
  }

  #contact {
    min-height: 60vh;
    text-align: center;
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
    margin: 0;
  }

  .contact-split-left h3{
    font-size: 30px;
    font-weight: 400;
    padding: 0rem 0rem 0rem 1rem;

  }
  .contact-split-left p{
    padding: 0rem 0rem 0rem 1rem;
  	font-size:14px;
  }
  .map{
    width:315px;
    height:200px;
    margin: 1rem 3rem 0rem 1rem;
    }

    #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    	width:85%;
    	margin:0 0 5px;
    	padding:10px;
      resize: none;
    }

    #contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
    	-webkit-transition:border-color 0.3s ease-in-out;
    	-moz-transition:border-color 0.3s ease-in-out;
    	transition:border-color 0.3s ease-in-out;
    	border:1px solid #AAA;
    }

    #contact textarea {
    	height:100px;
      resize:none;
    }

    #contact button[type="submit"] {
    	cursor:pointer;
      width:90%;
    	border:none;
    	padding:10px;
    	font-size:15px;
    }

    #contact button[type="submit"]:hover {
    	background:#afdeb7;
      color: black;
    	-webkit-transition:background 0.3s ease-in-out;
    	-moz-transition:background 0.3s ease-in-out;
    	transition:background-color 0.3s ease-in-out;
    }

    #contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

    #contact input:focus, #contact textarea:focus {
    	outline:0;
    	border:1px solid #999;
    }
}


@media only screen and (max-width: 300px) {


  .contact-split-left h3{
    font-size: 26px;
    font-weight: 400;
    padding: 0rem 0rem 0rem 1rem;

  }
  .contact-split-left p{
    padding: 0rem 0rem 0rem 1rem;
  	font-size:11px;
  }
  .map{
    width:210px;
    height:180px;
    margin: 1rem 3rem 0rem 1rem;
    }

    #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    	width:85%;
    	border:1px solid #CCC;
    	margin:0 0 5px;
    	padding:10px;
      resize: none;
    }

    #contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
    	-webkit-transition:border-color 0.3s ease-in-out;
    	-moz-transition:border-color 0.3s ease-in-out;
    	transition:border-color 0.3s ease-in-out;
    	border:1px solid #AAA;
    }

    #contact textarea {
    	height:100px;
      resize:none;
    }

    #contact button[type="submit"] {
    	cursor:pointer;
      width:92%;
    	border:none;
    	padding:10px;
    	font-size:15px;
    }

    #contact button[type="submit"]:hover {
    	background:#afdeb7;
      color: black;
    	-webkit-transition:background 0.3s ease-in-out;
    	-moz-transition:background 0.3s ease-in-out;
    	transition:background-color 0.3s ease-in-out;
    }

    #contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

    #contact input:focus, #contact textarea:focus {
    	outline:0;
    	border:1px solid #999;
    }
  }


/*------------------------------FOOTER----------------------------*/

.footer {
	text-align: center;
	background-color: #FDF4FA;
	color: #F9ACDF;
	line-height: 70px;
	height: 70px;
	text-align: center;
}

.footer-content {
	vertical-align: middle;
}

/*----------------------------------------------------------------*/

/*----------------------------SCROLL------------------------------*/

.MuiFab-secondary {
	background-color: blue !important;
	color: white !important;
}

/*----------------------------------------------------------------*/


/*----------------------------ABOUT PAGE CSS------------------------------*/

.about {
	display: flex;
	flex-direction: column;
	color: black;
  resize: none;
  padding-top: 80px;
}
.abt-back{
  padding: 4rem 0rem 3.3rem 0rem;
  text-align: center;
}
.about h3 {
	font-size: 40px;
	padding: 0;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	letter-spacing: .02em;
}
.about h4 {
	font-size: 30px;
	font-weight: 300;
	padding: 0rem 3rem 0rem 3rem;
	text-align: center;
}

.about p {
	font-size: 15px;
	font-weight: 100;
	padding: 0rem 7rem 0rem 7rem;
  line-height: 33px;
}

.aboutpage-split{
  display:flex;
  font-size: 30px;
	padding: 2rem 4rem 5rem 4rem;
  text-align: center;
}

.aboutpage-text h4 {
	font-size: 30px;
  height: 10px;
  text-align: center;
  padding: 0rem 0rem 1.5rem 0rem;
	margin: 0;
}

.aboutpage-text p {
	font-size: 15px;
  padding: 0rem 2rem 0rem 2rem;
	text-align: center;
}

.underline{
  position: relative;
  border: none;
  height: 2px;
  width: 10rem;
  background: #F9ACDF;
  margin-bottom: 50px;
	margin-top: 0;
}
.team-img{
	max-width: 80%;
	height: auto;
	padding: 1rem 1rem 0rem 1rem;
	align-items: center;
}
.aboutpage-split img{
	height: 25rem;
	width: 25rem;
	margin:0;
	padding: 0;
}

@media only screen and (max-width: 768px) {

  .aboutpage-split{
    display:block;
    align-items: center;
  }
  .aboutpage-split img{
    height: 60%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

	.abt-back{
	  padding: 1.5rem 0rem 1rem 0rem;
	}
  .abt-back p {
  	padding: 1rem 3rem 0rem 3rem;
  }
  .about h4 {
    font-size: 25px;
    padding: 0rem 2rem 0rem 2rem;
  	font-weight: 300;
    margin-bottom: 0;
  }
	.about h3 {
    font-size: 30px;
		padding: 0;
	}
	.aboutpage-text h4 {
		font-size: 30px;
	  height: 10px;
    text-align: center;
		padding: 2rem 0rem 1.5rem 0rem;
		}

	.aboutpage-text p {
		font-size: 15px;
		padding: 0;
	  text-align: center;
	}
}


/*----------------------------Prices PAGE ------------------------------*/

.price-table {
	display: flex;
	text-align: center;
	align-items:center;
  margin-left: auto;
  margin-right: auto;
}

.price {
  list-style-type: none;
  border: 0;
  margin: auto;
  padding: 0;
	width: 100%;
	font-weight: 200;
}
.price-desc{
  list-style-type: none;
  border: 0;
  margin: auto;
  padding: 0;
	width: 100%;
	font-weight: 200;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
	align-items:center;
}

.price-desc li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
	align-items:center;
}

.price-div{
  padding: 0rem 2rem 5rem 2rem;
  text-align: center;
}
.price-box h4{
  padding: 3rem 0rem 0.7rem 0rem;
  margin-bottom: 0;
	font-size: 30px;
	font-weight: 300;
}

 .price-h4 h4{
	 padding: 3rem 0rem 0.7rem 0rem;
   margin-bottom: 0;
 	font-size: 50px;
 	font-weight: 300;

 }
.price-title{
	margin: 0;
	font-size: 40px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	letter-spacing: .02em;
	display: flex;
	flex-direction: column;
	color: black;
  resize: none;
  padding-top: 180px;
	padding: 180px 0px 20px 0px;

}

.price-box{
	padding: 0rem 0rem 5rem 0rem;
	border:1px solid #F9ACDF;
  border-spacing:10px;
	margin: 80px 0;
}

.price-box h4{
	padding: 0;
	font-style: italic;
	margin: 2.5rem 0rem 2.5rem 0rem;
}
.price-box p{
	padding: 0;
	margin: 1rem 1rem 0rem 1rem;
}

@media only screen and (max-width: 980px) {
	.price-title{
		margin: 0;
		font-size: 30px;
	  padding-top: 180px;
		padding: 130px 0px 20px 0px;

	}
	.price-desc{
		width: 100%;
	}
	.price {
		width:80%;
	}
}


@media only screen and (max-width: 501px) {


	.price-box p{
		padding: 0;
		margin: 1rem 1rem 0rem 1rem;
		font-size: 14px;

	}
	.price-box{
		padding: 0rem 0rem 1rem 0rem;
		border:1px solid #F9ACDF;
	  border-spacing:10px;
		margin: 80px 0;
	}
	.price-table {
		display: flex;
		text-align: center;
		align-items:center;
	  margin-left: 0;
	  margin-right: 0;
	}
	.price-desc{
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 35%;
		font-size: 14px;
	}
	.price {
	  list-style-type: none;
	  border: 0;
	  margin: 0;
	  padding: 0;
		width:20%;
		font-size: 14px;
	}

	.price li {
	  border-bottom: 1px solid #eee;
	  padding: 20px;
		padding-left: 0;
		padding-right: 0;
	  text-align: center;
		align-items:center;
	}
}

.price-desc{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 80%;
	font-weight: 200;
}
.price {
	list-style-type: none;
	border: 0;
	margin: 0;
	padding: 0;
	width:30%;
	font-weight: 200;
}

/*---------------------- Scroll behavior ---------------------*/


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.reveal {
  position: relative;
  opacity: 0;
  animation-iteration-count: 1;
}

.reveal.active {
  opacity: 1;
  animation-iteration-count: 1;
}
.active.fade-bottom {
  animation: fade-bottom 0.8s  ease-in;
}
.active.fade-left {
  animation: fade-left 0.6s ease-in;
}
.active.fade-right {
  animation: fade-right 0.6s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;

  }
  100% {
    transform: translateY(0);
    opacity: 1;

  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*----------------------- POLICY ---------------------------*/

.guarantee{
	padding: 5rem 2rem 5rem 2rem;
}

.policy {
	display: flex;
	flex-direction: column;
	color: black;
  resize: none;
  padding-top: 80px;
}
.policy h3 {
	font-size: 40px;
	padding: 0;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	letter-spacing: .02em;
}
.policy h4 {
	font-size: 30px;
	font-weight: 300;
	padding: 0rem 3rem 0rem 3rem;
	text-align: center;
}

.policy p {
	font-size: 15px;
	font-weight: 100;
	padding: 0rem 7rem 0rem 7rem;
  line-height: 33px;
}

@media only screen and (max-width: 768px) {
	.guarantee{
		padding: 2rem 0rem 5rem 0rem;
	}

	.policy h3 {
		font-size: 30px;
		padding: 0;
		text-align: center;
		font-family: 'Poppins', sans-serif;
		font-weight: 300;
		letter-spacing: .02em;
	}
	.policy h4 {
		font-size: 30px;
		font-weight: 300;
		padding: 0;
		text-align: center;
	}

	.policy p {
		font-size: 15px;
		font-weight: 100;
		padding: 0rem 3rem 0rem 3rem;
	  line-height: 33px;
	}

}

/*--------------------------------------------------*/

.thankyou{
  	text-align: center;
  	display: flex;
  	flex-direction: column;
    background-image: url('./images/landing4.jpg');
    padding-top: 30px;
    color: black;
    background-size: 100rem;
    margin-top: 80px;

}

.thankyou h4{
  padding: 10rem;
  text-align: center;
  font-size: calc(40px + (90 - 40) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 500;
}

@media only screen and (max-width: 500px) {
  .thankyou{
    	text-align: center;
    	display: flex;
    	flex-direction: column;
      padding-top: 80px;
      color: black;
      background-size: 100rem;
      margin-top: 80px;
      height: 40rem;
  }
  .thankyou h4{
    padding: 5rem;
    text-align: center;
    font-size: calc(40px + (90 - 40) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
  }


}
